.footer {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    background-color: var(--color-base);
    padding: 0 20px 0 20px;
}

.footer-logos {
    display: flex;
    gap: 20px;
}

.socialLogo {
    height: 20px;
    width: auto;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.socialLogo:hover {
    transform: scale(1.6);
}
  
.footer-text {
    font-size: 14px;
    color: #333;
}